/* Ahmad Fathir Dzianurrizqi_202432076 */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7f6;
    margin: 0;
}

header {
    background: #2c4450;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a.active {
    background: #3498db;
    border-radius: 5px;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}