/* Ahmad Fathir Dzianurrizqi_202432076 */

body {
    background-color: #f0f2f5;
    font-family: 'Verdana';
    margin: 0;
}

header {
    background-color: #476EAE;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a.active {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.reg-form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    border-top: 5px solid #476EAE;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    color: #476EAE;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #476EAE;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}